<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/lista">Ver comics</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/cambio">Cambiar comics</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/principal">Mis comics</a>
        </li>

      </ul>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="list-group">
        <div class="card list-group-item" *ngFor="let comic of comics">

          <div class="card-body">

            <form #form="ngForm" (ngSubmit)="onUpdate(form.value)" class="well">
                <div class="form-group">
                    <label>{{comic.titulo}}</label>
                    <input
                      type="text"
                      class="form-control"
                      required
                      name="titulo"
                      ngModel
                    />
                </div>
                    <div class="form-group">
                        <label>{{comic.autor}}</label>
                        <input
                          type="text"
                          class="form-control"
                          required
                          name="autor"
                          ngModel
                        />
                  </div>
                  <div class="form-group">
                      <label>{{comic.numero}}</label>
                      <input
                        type="text"
                        class="form-control"
                        required
                        name="numero"
                        ngModel
                      />
                  </div>
                  <div class="form-group">
                      <label>Editorial</label>
                      <select class="form-control" name="idEditorial"  ngModel>
                        <option value="1">Detective comics</option>
                        <option value="2">Marvel</option>
                        <option value="3">Vertigo</option>
                        <option value="4">Panini</option>
                      </select>
                    </div>
            </form>
            <button type="button" class="btn btn-primary btn-sm "(click)="onUpdate(comic)">editar</button>
            <button type="button" class="btn btn-primary btn-sm btn-danger" (click)="onDelete(comic)">borrar</button>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
